.img_bottom_hero {
  background: url(../img/footer_img_mobile.png) no-repeat;
  height: 400px;
  background-size: cover;
}

.section_footer footer{
    /* display: flex;
    flex-direction: column; */
    background-color: var(--backgroung-tertiary-color);
}
.section_footer p{
    color: var(--background-secundary-color);
}

/* Tablet */
@media screen and (min-width: 768px) {
  .img_bottom_hero {
    background: url(../img/footer_img_tablet.png) no-repeat;
    height: 400px;
    background-size: cover;
  }
}

/* PC menor e tablet deitado */
@media screen and (min-width:1024px) {
    .img_bottom_hero{
        background-position:center 90%;
    }
    
}

/* PC */
@media screen and (min-width:1440px) {
    .img_bottom_hero{
        background: url(../img/footer_img_pc.png) no-repeat;
        height: 600px;
        background-size: cover;
    }
    
}
