.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
  width: 100%;
}
.hero .hero-img {
  background: url(../img/hero_mobile.jpg) no-repeat;
  background-size: cover;
}
.bottom-hero .hero-img {
  background: url(../img/footer_img_mobile.png) no-repeat;
  background-size: cover;
}
.hero h2 {
  max-width: 312px;
  font-size: 20px;
  margin: 88px auto 88px;
  font-weight: var(--text-weight);
  text-align: center;
  line-height: 1.6;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    width: 100%;
    background: url(../img/hero.tablet.jpg) no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 400px;
    background: url(../img/footer_img_tablet.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    max-width: 648px;
    margin: 88px auto 88px;
    font-size: 32px;
  }
}
/* Tablet deitado */
@media screen and (min-width: 1024px) {
  .hero .hero-img {
    background-position: center;
  }
  .bottom-hero .hero-img {
    background-position: center 70%;
  }
}

/* PC */
@media screen and (min-width: 1440px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero_maldivas_pc.png) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img {
    background: url(../img/footer_img_pc.png) no-repeat;
    height: 600px;
    background-size: cover;
  }
  .hero h2 {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1920px) {
  .hero h2{
    padding: 88px 160px;
    line-height: 60px;
  }
  
}
