.content-title {
  margin-bottom: 24px;
}


.grid-image-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin: 24px auto 0;
  width: 100%;
}
.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bag,
.passport {
  height: 254px;
}
.bag {
  background-image: url(../img/payment_bag1_mobile.png);
  background-size: cover;
}
.passport {
  background-image: url(../img/payment_ppt_mobile.png);
  background-size: cover;
}
.people {
  background-image: url(../img/payment_people_mobile.png);
  background-size: cover;
  grid-column: span 2; /* Faz este item ocupar 2 colunas*/
  height: 182px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .text-content {
    width: 648px;
    margin-inline: auto;
  }
  .grid-image-content {
    width: 648px;
    margin: 24px auto;
  }
  .people {
    background-image: url(../img/payments_people_2x.png);
    /* background-position: center 80% ; */
  }
}

/* pc */
@media screen and (min-width: 1440px) {
  .payments .content-container {
  display: flex;
  justify-content: space-between;
}
  .payments .grid-image-content {
    width: 790px;
    margin: 0;
  }
  .payments .text-content {
    width: 360px;
    margin: 0;
  }
  .payments .content-title {
    width: 270px;
  }

  .passport {
    background-image: url(../img/payment_passport_pc.jpg);
  }
  .bag {
    background-image: url(../img/payment_bag_pc.png);
  }
}

/* .payment_row_pc {
  display: grid;
  grid-template-columns: 384px 790px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 23px;
}

.grid-image-content {
  width: 790px;
  margin: 0;
}
.content-title {
  width: 300px;
}
.text-content {
  max-width: 384px;
} */
